@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);
// Font
$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$body-bg: #F3F3F4;

// Basic Colors
$default-color: #CCCCCC;   // Default color
$primary-color: #337AB7;   // #0081C6;  // Primary color
$info-color: #1CC09F;      // Info color
$success-color: #5CB85C;   // Success color
$warning-color: #F0AD4E;   // Warrning color
$danger-color: #D9534F;    // Danger color

// Various colors
$text-color: #676A6C;

// Border Color
$border-color: #E7E7E7;
